node_modules/
public/js
.vscode
.clj-kondo/.cache/*

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

snap.*.trc
javacore.*.txt
javacore.*.dmp
jitdump.*.dmp

report.html

build/*