;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-alpha2"] ; Check latest here - https://clojars.org/reagent
  ; [re-frame "RELEASE"] ; Check latest here - https://clojars.org/re-frame
  ;  [cljs-ajax "0.8.0"] ; Check latest here - https://github.com/JulianBirch/cljs-ajax
  ;  [day8.re-frame/http-fx "v0.2.0"] ; Check latest here - https://clojars.org/day8.re-frame/http-fx
  ]

 :dev-http
 {8105 "public"}

 :builds
 {:app  ; Can be any name I choose
  {:target :browser
   :modules {:main {:init-fn app/init}}}  ; Main function to run, entry point to app.
  }}


;; for package.json
;; Latest nrepl https://github.com/clojure-emacs/cider-nrepl/blob/master/CHANGELOG.md
;; Latest nrepl https://github.com/clojure-emacs/cider-nrepl/blob/master/CHANGELOG.md